<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/favicon.ico" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b5bb5aee0d02de0e9684fd8266a2c123";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>

</html>
